html, body {
    /* width: 100%; */
    color: white;
    margin: 0px;
    display: block;
    box-sizing: border-box;
  }
@font-face {
    font-family: elixia;
    src: url("./Media/Fonts/ELIXIA.ttf") format("opentype");
}
@font-face {
    font-family: accent;
    src: url("./Media/Fonts/accent.ttf") format("opentype");
}
@font-face {
    font-family: squealer;
    src: url("./Media/Fonts/Squealer.otf") format("opentype");
}
  html {
    background: black;
    overflow-x: hidden;
  }
  
  #container {
    z-index: 111;
  }
  
  .navT {
    display: flex;
    justify-content: center;
    -webkit-transition: all 0.25s;
    z-index: 111;
    cursor: pointer;
    width: 100%;
    background: black;
    height: 65px;
    left: 0;
    top: 0;
    position: relative;
  }

  /* ************** 3 vertical lines ************* */
  .navT .icon {
    -webkit-transition: all 0.25s;
    position: absolute;
    width: 30px;
    height: 1px;
    left: 15px;
    top: 30px;
    background-color: black;
  }
  .navT .icon:before, .navT .icon:after {
    -webkit-transition: all 0.25s;
    width: 30px;
    height: 1px;
    left: 0;
    background: black;
    position: absolute;
    content: "";
  }
  .navT .icon:before {
    top: -10px;
  }
  .navT .icon:after {
    top: 10px;
  }
  /* .navT:hover {
    background: black;
  } */
  .navT:hover .icon:before {
    top: -12px;
  }
  .navT:hover .icon:after {
    top: 12px;
  }
  .navT.active .icon {
    -webkit-transform: rotate(180deg);
    background-color: transparent;
    left: 10px;
  }
  .navT.active .icon:before, .navT.active .icon:after {
    top: 0;
  }
  .navT.active .icon:before {
    -webkit-transform: rotate(45deg);
  }
  .navT.active .icon:after {
    -webkit-transform: rotate(-45deg);
  }
  
  #menu {
    z-index: 111;
    -webkit-transition: all 0.5s;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 65px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    width: 100%;
    height: 0;
    border-bottom: 1px solid transparent;
    overflow: hidden;
  }
  #menu ul {
    list-style: none;
    padding: 0;
    letter-spacing: 0.4em;
  }
  #menu li:first-child {
    margin-top: 0;
  }
  #menu li {
    -webkit-transition: all 0.2s;
    margin-top: 20px;
    padding: 5px 0;
    color: white;
  }
  #menu a {
    padding: 8px;
    -webkit-transition: all 0.25s;
    cursor: pointer;
  }
  #menu a:hover {
    letter-spacing: 0.5em;
    text-decoration: underline;
  }
  #menu.open {
    height: 270px;
    width: 100%;
    background: #f3581b;
    border-bottom: 1px solid black;
  }

/* **************Navbar ends here************* */

.hero{
  width: 78%;
  height:230vh;
  display: flex;
  justify-content:space-between;
  /* overflow-x: hidden; */
}
.genrefyMid{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20%;
}
.genrefyH1{
  margin-top: 250px;
  margin-bottom: 0px;
  font-family: elixia;
  color: #98fe6a;
  font-size: 300px;
  /* font-weight: 700; */
}
.flexMid{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /* position: absolute; */
}
.genrefyH3{
  text-align: center;
  font-family: accent;
  font-size: 70px;
  font-weight: 100;
}
.tn-atom {
  background-size: cover;
  position: absolute;
}
.dump{
  top: 25%;
  margin-left: 5px;
  z-index: 5;
}
.dump1{
  top: 65%;
  /* position: relative; */
  margin-left: 45px;
  z-index: 6;
}
.dump2{
  /* height: 100vh; */
  top: 130%;
  padding-right: 50px;
  margin-left: 42px;
  z-index: 6;
}
.dump3{
  top: 200%;
  margin-left: 18px;
  z-index: 7;
}
.dump4{
  top: 25%;
  right: 2%;
  z-index: 5;
}
.dump5{
  top: 65%;
  /* position: relative; */
  right: 2%;
  z-index: 6;
}
.dump6{
  /* height: 100vh; */
  top: 130%;
  right: 2%;
  z-index: 6;
}
.dump7{
  top: 200%;
  /* margin-left: 18px; */
  right: 1%;
  z-index: 7;
}
.bigFont{
  font-size: 100px;
  font-family: elixia;
  font-weight: 100;
}
.acdc{
  text-align: center;
  font-family: squealer;
  font-size: 100px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
}
.acdcImg{
  -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}
.tcCenter{
  text-align: center;
}
.mj{
  display:;
  
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: accent;
  font-size: 100px;
}

#songs{
  position:initial;
  /* margin-top: 200vh; */
}
audio{
  /* display: none; */
}