@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
html, body {
    /* width: 100%; */
    color: white;
    margin: 0px;
    display: block;
    box-sizing: border-box;
    scroll-behavior:calc(100%-50%);
  }
@font-face {
    font-family: elixia;
    src: url("./Media/Fonts/ELIXIA.ttf") format("opentype");
}
@font-face {
    font-family: accent;
    src: url("./Media/Fonts/accent.ttf") format("opentype");
}
@font-face {
    font-family: squealer;
    src: url("./Media/Fonts/Squealer.otf") format("opentype");
}
  html {
    background: black;
    overflow-x: hidden;
  }
  
  #container {
    z-index: 111;
  }
  a{
    text-decoration: none;
    color: white;
    font-family: squealer;
  }
  
  .navT {
    display: flex;
    justify-content: center;
    -webkit-transition: all 0.25s;
    z-index: 111;
    cursor: pointer;
    width: 100%;
    background: black;
    height: 65px;
    left: 0;
    top: 0;
    position: relative;
  }

  /* ************** 3 vertical lines ************* */
  .navT .icon {
    -webkit-transition: all 0.25s;
    position: absolute;
    width: 30px;
    height: 1px;
    left: 15px;
    top: 30px;
    background-color: black;
  }
  .navT .icon:before, .navT .icon:after {
    -webkit-transition: all 0.25s;
    width: 30px;
    height: 1px;
    left: 0;
    background: black;
    position: absolute;
    content: "";
  }
  .navT .icon:before {
    top: -10px;
  }
  .navT .icon:after {
    top: 10px;
  }
  /* .navT:hover {
    background: black;
  } */
  .navT:hover .icon:before {
    top: -12px;
  }
  .navT:hover .icon:after {
    top: 12px;
  }
  .navT.active .icon {
    -webkit-transform: rotate(180deg);
    background-color: transparent;
    left: 10px;
  }
  .navT.active .icon:before, .navT.active .icon:after {
    top: 0;
  }
  .navT.active .icon:before {
    -webkit-transform: rotate(45deg);
  }
  .navT.active .icon:after {
    -webkit-transform: rotate(-45deg);
  }
  
  #menu {
    z-index: 111;
    -webkit-transition: all 0.5s;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 65px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    width: 100%;
    height: 0;
    border-bottom: 1px solid transparent;
    overflow: hidden;
  }
  #menu ul {
    list-style: none;
    padding: 0;
    letter-spacing: 0.4em;
  }
  #menu li:first-child {
    margin-top: 0;
  }
  #menu li {
    -webkit-transition: all 0.2s;
    margin-top: 20px;
    padding: 5px 0;
    color: white;
  }
  #menu a {
    padding: 8px;
    -webkit-transition: all 0.25s;
    cursor: pointer;
  }
  #menu a:hover {
    letter-spacing: 0.5em;
    text-decoration: underline;
  }
  #menu.open {
    height: 270px;
    width: 100%;
    background: #f3581b;
    border-bottom: 1px solid black;
  }

/* ************** Navbar ends here ************* */

.hero{
  width: 78%;
  height:230vh;
  display: flex;
  justify-content:space-between;
}
.genrefyMid{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20%;
}
.genrefyH1{
  margin-top: 250px;
  margin-bottom: 0px;
  font-family: 'Raleway Dots', cursive;
  color: #BFBDBF;
  font-size: 200px;
  animation: flicker 1.5s infinite alternate;
  font-weight: 500;
  
}
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #000,
      0 0 11px #000,
      0 0 19px #000,
      0 0 40px #fff,
      0 0 80px #fff,
      0 0 90px #fff,
      0 0 100px #fff,
      0 0 150px #fff;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}
.flexMid{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /* position: absolute; */
}
.genrefyH3{
  text-align: center;
  /* font-family: 'Allerta Stencil', sans-serif; */
  font-size: 70px;
  font-family: 'Raleway Dots', cursive;
  font-weight: 100;
}
.tn-atom {
  background-size: cover;
  position: absolute;
}
.dump{
  top: 25%;
  margin-left: 5px;
  z-index: 5;
}
.dump1{
  top: 65%;
  /* position: relative; */
  margin-left: 45px;
  z-index: 6;
}
.dump2{
  /* height: 100vh; */
  top: 130%;
  padding-right: 50px;
  margin-left: 42px;
  z-index: 6;
}
.dump3{
  top: 200%;
  margin-left: 18px;
  z-index: 7;
}
.dump4{
  top: 25%;
  right: 2%;
  z-index: 5;
}
.dump5{
  top: 65%;
  /* position: relative; */
  right: 2%;
  z-index: 6;
}
.dump6{
  /* height: 100vh; */
  top: 130%;
  right: 2%;
  z-index: 6;
}
.dump7{
  top: 200%;
  /* margin-left: 18px; */
  right: 1%;
  z-index: 7;
}
.bigFont{
  font-size: 100px;
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: 100;
}
.acdc{
  text-align: center;
  font-family: squealer;
  font-size: 100px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
}
.acdcImg{
  -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}
.tcCenter{
  text-align: center;
}
.mj{  
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: accent;
  font-size: 100px;
}
.menu-item{
  cursor: pointer;
}
/* .songName{
  text-align: center;
} */
.btnTop{
  position: relative;
  z-index: 500;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid white;
  background-color: black;
  color: white;
  height: 70px;
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 50px;
}
#songs{
  margin-top: 170px;
}
#audioTag{
  margin-top: 0px;
}
div #audioTag{
  /* margin-bottom:500px; */
  /* background-color: rgba(1, 1, 1, 0.2); */
  background:linear-gradient(to bottom ,rgba(1, 1, 1, 1) ,rgba(1, 1, 1, 0.8),rgba(1, 1, 1, 0));
  /* opacity: 60%; */
  backdrop-filter: blur(1px);
  /* text-align: center;
  padding: 30px; */
  width: 100%;
}
#innerAudio{
  color: green;
  height: 70px;
  width: 100%;
}
#innerAudio::-webkit-media-controls-panel{
  /* --player-button-width: 34px; */
  width: 100%;
  border-radius: 0;
  /* background-color: #98fe6a; */
  /* background-color: rgba(1, 1, 1); */
  /* opacity: 0%; */
}
#innerAudio::-webkit-media-controls-play-button{
  background-color: #98fe6a;
  border: 1px solid white;
  border-radius: 50%;
  transform: scale(1.5);
}
#innerAudio::-webkit-media-controls-timeline{
  background-color: rgb(152,254,106);
  color: white;
  height: 3px;
  padding: 0;
  opacity: 100%;
}

#innerAudio::-webkit-media-controls-volume-slider{
visibility: hidden;
}

#innerAudio::-webkit-media-controls-current-time-display, #innerAudio::-webkit-media-controls-time-remaining-display{
  visibility:hidden ;
  color: white;
}
#innerAudio::-webkit-media-controls-enclosure {
  width: 80%;
  /* border: 1px solid white; */
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  /* background:linear-gradient(to bottom ,rgba(1, 1, 1, 1) ,rgba(1, 1, 1, 0)); */

}
/* div::hover{
  transform: translate(20px);
} */



/* loading animation on scroll  */
.loading {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity .3s ease-in;
}

.loading.show {
	opacity: 1;
}

.ball {
	background-color: white;
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}
@media only screen and (max-width: 600px) {
  .pillars2{
    /* height: 100vh; */
    margin-right: -500px;
  }
  .dump4{
    margin-right: -700px;
  }
  .dump5{
    margin-right: -700px;
  }
  .dump6{
    margin-right: -700px;
  }
  .dump7{
    margin-right: -700px;
  }
  #songs{
    margin-left: 300px;
  }
  #innerAudio{
    margin-left: 200px;
  }
}